{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/generic-event.css') }}"/> 
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    {% include 'FlowberEventBundle::partials/eventNavbarSmall.html.twig' %}
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Event Banner -->  
    <!-- Second menu -->
    {% include 'FlowberProfileBundle::partials/userProfile/profileNavbar.html.twig' %} 
   
    <!-- page -->
        <div id="friends" class="user-profile-friends user-profile" style="margin-top : 80px">
        <div class="user-profile-category-row text-center">
            <h1>Toutes mes sorties</h1>
        </div>
        <div class="container event-thumbnail-display-container">
            <div class="row">
                {% for event in events %}
                       {% include 'FlowberEventBundle::partials/oneEventResume.html.twig' %}     
                    {%endfor%}
            </div>
        </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}