/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 déc. 2015, 21:31:37
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
/* Colors */
@font-face {
  font-family: erasMediumItc;
  src: url(../../fonts/ERASMD.TTF);
}
@font-face {
  font-family: amaranthRegular;
  src: url(../../fonts/Amaranth-Regular.ttf);
}
/* all site */
body {
  font-size: 13px;
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
  color: white;
}
/* Forms */
.form-error-custom {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.form-error-custom span {
  color: #A94442;
}
.event-thumbnail-display-container {
  padding-bottom: 27px;
}
.event-list-thumbnail {
  border: none;
  padding: initial;
  background: none;
  margin-bottom: initial;
}
.event-list-thumbnail .event-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  box-shadow: #000 0em 0em 0em;
}
.event-list-thumbnail .event-image:hover {
  opacity: 0.6;
}
.event-list-thumbnail .event-image-frame .event-image-frame-date {
  top: 25%;
  position: absolute;
  left: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 12px black;
}
.event-list-thumbnail .event-image-frame button {
  position: absolute;
  display: none;
  opacity: 0.5;
}
.event-list-thumbnail .event-image-frame:hover button {
  display: inline-block;
  top: 40%;
}
.event-list-thumbnail .event-action-hover-link {
  left: 66%;
}
.event-list-thumbnail .event-action-hover-search {
  left: 33%;
}
.event-list-thumbnail .event-name-frame {
  height: 5em;
  display: table-cell;
  vertical-align: bottom;
  padding: initial;
}
.event-list-thumbnail .event-name-frame .event-name {
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
}
.event-list-thumbnail .event-description {
  font-size: 11px;
  color: grey;
}
.event-list-thumbnail .event-join-button {
  background-color: #E74C3C;
  border: none;
  padding: 4px 0px;
  width: 100%;
}
.event-list-thumbnail .event-join-button:hover {
  font-weight: bold;
  color: white;
}
/*.create-event-cover{
    height: 255px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: initial;
    background-position: center center;
    
    .create-event-cover-title{
        color: white;
        text-shadow: 3px 3px 3px black;
        margin-top: 60px;
        font-size: 50px;
        @media(max-width: 768px){
            font-size: 33px;
        }
    }
}

.group-list-thumbnail{
    border : none;
    padding: initial;
    background: none;
    margin-bottom: initial;
    .group-image{            
        width: 100%;
        height: 140px;
        object-fit: cover;
        box-shadow: #000 0em 0em 0em;
    }

    .group-image:hover{
        opacity: 0.6;
    }

    .group-name-frame{
        height: 5em;
        display: table-cell;
        vertical-align: bottom;
        padding: initial;
        .group-name{
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 14px;
            font-weight: bold;
            text-align: justify;
        }
    }

    .group-description{
        font-size: 11px;
        color: #888;
    }    

    .group-join-button{
        background-color: @red;
        border: none;
        padding: 4px 0px;
        width: 100%
    }
    .group-join-button:hover{
        font-weight: bold;
        color: @light-blue;
    }
}

.user-profile-category-row{
    padding-top: 27px;
    padding-bottom: 20px;
    .user-profile-category-title{          
        font-size: 25px;
        border-bottom: 1px solid;
        padding-bottom: 15px;
    }
}

.user-profile-friends-list{
    list-style: none;
    padding-left: initial;
    padding: 20px 0px;
    .user-profile-friends-list-element{
        display: inline-block;
        border-radius: 3%;
        border: 1px solid lightgrey;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        .user-profile-friends-list-element-avatar{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 75px;
            width: 75px;
            display: inline-block;
            vertical-align: middle;
            border-radius:50%
        }
        .user-profile-friends-list-element-subtitle-friends{
            font-size :12px;
            height : 18px;
        }
        .user-profile-friends-list-element-details{
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
            .user-profile-friends-list-element-details-name{
                font-size: 14px;
            }
            .user-profile-friends-list-element-details-events{
                font-size: 11px;
                color: grey;
            }
            .user-profile-friends-list-element-details-friends{
                font-size: 11px;
                color: grey;
            }
            .user-profile-friends-list-element-details-sendpm{
                padding: 2px 3px;
            }
        }
    }
}*/
