{# Flowber:EventBundle:Resources:partials::eventAlerts.html.twig #}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible alert-autoclosing alert-event-main fade in flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible alert-event-main fade in flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>