{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {# Put specific CSS below #}
    <link rel="stylesheet" href="{{ asset('bundles/flowberuser/css/signin.css') }}"/> 
{% endblock %}

{% block body %}   
    <!-- Sign In menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}

    <!-- Sign Up Cover -->  
    <div class="jumbotron">    
        <div class="container" >
            <div class="row">  
                
            </div>
        </div>
    </div>
        
    <!-- Footer -->
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}