{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {# Put specific CSS below #}
    <link rel="stylesheet" href="{{ asset('assets/css/UserBundle/resetPassword.css') }}"/> 
{% endblock %}

{% block body %}   
    <!-- Forgot password cover -->
    <div class="jumbotron reset-password-cover" style="background-image: url({{asset('assets/images/UserBundle/signUp/cover-signup-details.jpg')}})">
        <div class="container">
            <div class="row text-center">
                <h1 class="reset-password-cover-title">Réinitialiser votre mot de passe</h1>
            </div>
        </div>
    </div>

    <!-- Reset password Form -->  
    {% include 'FlowberUserBundle::Resetting/reset_content.html.twig' %}

    <!-- Footer -->
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}