{# Messages View All  #}

<table class="table table-hover messages-stream">
    <thead>
        <tr>
            <th><input id="checkAllMessages" type="checkbox" class="checkbox"  data-toggle="tooltip" data-placement="top" title="Tout sélectionner" /></th>
            <th colspan="2">
                <button type="button" class="btn btn-default  btn-xs"  data-toggle="tooltip" data-placement="top" title="Supprimer les messages sélectionnés"> 
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
                </button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Marquer comme Lu ou Non Lu les messages sélectionnés"> 
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Marquer comme Lu/Non Lu
                </button>
            </th>
            <th>
                <div class="btn-group" role="group" aria-label="messages-pagination">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus récents"><span class="glyphicon glyphicon-menu-left"></span></button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus anciens"><span class="glyphicon glyphicon-menu-right"></span></button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="messages-stream-element" data-href="{{ path('wybe_front_office_get_message', {'messageId': 01}) }}">
            <td><input type="checkbox" class="checkbox messages-stream-element-selector"/></td>
            <td class="messages-stream-element-clickable"><span class="messages-stream-element-author">Jean-Pierre de Sitges</span></td>
            <td class="messages-stream-element-clickable"><span class="messages-stream-element-subject">Manger</span> - <span class="messages-stream-element-content-preview">Yo! Tu viens manger demain midi?</span></td>
            <td class="messages-stream-element-clickable"><span class="messages-stream-element-date">10:07</span></td>
        </tr>         
    </tbody>

</table>