{% form_theme messageForm 'bootstrap_3_layout.html.twig' %}

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalMessageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMessageLabel">Envoyez un message à  </h4>
      </div>
      <div class="modal-body">
        <form name="send-private-message-with-title-form" method="post" action="{{path('api_post_privatemessagetitle', {"circleId": circle.id})}}">
            {{form_widget(messageForm)}}
            <div id="send-private-message-with-title-form-response" style="margin-bottom : 20px;"> </div>

            <div class="modal-footer">
              <button type="submit" id="send-private-message-with-title-form-submit" class="btn btn-primary">Envoyer</button>
            </div>        
            {{form_rest(messageForm)}}
        </form>
      </div>

    </div>
  </div>
</div>