<!-- Modal -->
<div class="modal fade" id="modal-wink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="send-wink-message" >Voulez-vous envoyer un clin d'oeil à  ?</h4>
            </div>
            <div class="modal-footer" >
                <form id="send-wink" method="post" action="{{ path('api_post_sendwink', {'circleId': circle.id}) }}">
                    <button type="submit" class="btn btn-default" name="sendWinkToUser">
                        Envoyer
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Ne pas envoyer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
