/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 août 2016, 15:55:21
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
/* Colors */
@font-face {
  font-family: erasMediumItc;
  src: url(../../fonts/ERASMD.TTF);
}
@font-face {
  font-family: amaranthRegular;
  src: url(../../fonts/Amaranth-Regular.ttf);
}
/* all site */
body {
  font-size: 13px;
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
  color: white;
}
/* Forms */
.form-error-custom {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.form-error-custom span {
  color: #A94442;
}
.gallery-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.galleries-list .gallery-thumbnail {
  border: none;
  padding: 10px 0px 10px 0px;
  background: none;
  margin-bottom: initial;
}
.galleries-list .gallery-thumbnail .gallery-image-frame {
  display: block;
  position: relative;
}
.galleries-list .gallery-thumbnail .gallery-image-frame .gallery-image-featured {
  width: 100%;
  height: 140px;
  object-fit: cover;
  box-shadow: #000 0em 0em 0em;
}
.galleries-list .gallery-thumbnail .gallery-image-frame .gallery-image-featured:hover {
  opacity: 0.6;
}
.galleries-list .gallery-thumbnail .gallery-image-frame .gallery-image-frame-actions {
  color: white;
  background: rgba(0, 0, 0, 0.52) none repeat scroll 0% 0%;
  width: 100%;
  left: 0px;
  text-align: center;
  height: 19px;
  position: absolute;
  bottom: 0px;
}
.galleries-list .gallery-thumbnail .gallery-image-frame .gallery-image-frame-actions .gallery-image-frame-actions-delete {
  cursor: pointer;
}
.galleries-list .gallery-thumbnail .gallery-name-frame {
  padding: 1px;
}
.galleries-list .gallery-thumbnail .gallery-name-frame .gallery-name-link {
  display: inline-block;
}
.galleries-list .gallery-thumbnail .gallery-name-frame .gallery-name {
  margin: 0px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
}
.galleries-list .gallery-thumbnail .gallery-name-frame .gallery-role {
  float: right;
}
.galleries-list .gallery-thumbnail .gallery-name-frame .gallery-role .gallery-role-allowed {
  color: black;
}
.galleries-list .gallery-thumbnail .gallery-name-frame .gallery-role .gallery-role-private {
  color: #E74C3C;
}
.galleries-list .gallery-thumbnail .gallery-description {
  font-size: 11px;
  color: #888;
}
.galleries-list .gallery-thumbnail .gallery-join-button {
  background-color: #E74C3C;
  border: none;
  padding: 4px 0px;
  width: 100%;
}
.galleries-list .gallery-thumbnail .gallery-join-button:hover {
  font-weight: bold;
  color: #E1EBF5;
}
.gallery-image-list {
  padding-bottom: 20px;
}
.gallery-image-list .gallery-image-preview-frame {
  display: block;
  position: relative;
}
.gallery-image-list .gallery-image-preview-frame .gallery-image-preview {
  /*            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            width: 100%;
            cursor: pointer;
            display: block;
            position: relative;*/
  width: 100%;
  height: 200px;
}
.gallery-image-list .gallery-image-preview-frame .gallery-image-frame-actions {
  color: white;
  background: rgba(0, 0, 0, 0.52) none repeat scroll 0% 0%;
  width: 100%;
  left: 0px;
  text-align: center;
  height: 19px;
  position: absolute;
  bottom: 0px;
}
.gallery-image-list .gallery-image-preview-frame .gallery-image-frame-actions .gallery-image-frame-actions-delete {
  cursor: pointer;
}
.gallery-image-list .gallery-image-preview-frame .gallery-image-frame-actions form {
  /*display: inline-block;*/
}
.gallery-image-list .gallery-image-preview-frame .gallery-image-frame-actions form .delete-photo-form-confirm {
  color: white;
}
.slide-image {
  image-orientation: from-image;
  width: 80% ;
  height: 70%;
}
