/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2015, 15:40:41
    Author     : Equina
*/

@import "../FrontOfficeBundle/frontoffice-common";

.group-container{
    padding-top: 30px;
    padding-bottom: 50px;
    
    .group-alerts{
        
    }
    
    .group-details{        
        border: 1px solid lightgrey;
        padding: 15px;        
        table{
            border-collapse: separate;
            border-spacing: 1em;        
            color: grey;
            width: 100%;
            tr{
                padding-bottom: 10px;
                td.icon{
                    padding-right: 5px;
                    text-align: right;
                    vertical-align: top;
                    img{
                        height: 20px;
                        width: 20px;                
                    }
                }
            }   
        }
        textarea.group-mail{
            resize: none;
            width: 100%;
            padding: 5px;            
        }
    }
}