/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 09:46:00
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
/* Colors */
@font-face {
  font-family: erasMediumItc;
  src: url(../../fonts/ERASMD.TTF);
}
@font-face {
  font-family: amaranthRegular;
  src: url(../../fonts/Amaranth-Regular.ttf);
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
}
/* Forms */
.form-error-custom {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.form-error-custom span {
  color: #A94442;
}
.signin-cover {
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: initial;
}
.signin-cover .signup-form-col {
  border-radius: 2px;
  background-color: rgba(155, 155, 155, 0.3);
  padding: 0px 25px 25px 25px;
  color: white;
}
.signin-cover .signup-form-col form h2 {
  color: white;
  font-weight: bold;
}
.signin-cover .signup-form-col form .form-inline-half {
  width: 49.5%;
  height: 33px;
  display: inline-block;
}
.signin-cover .signup-form-col form .form-inline-input {
  height: 33px;
}
.signin-cover .signup-form-col form .form-inline-button {
  width: 100%;
}
.signin-cover .signup-form-col form .form-group {
  margin-bottom: 10px;
}
.signin-cover .signup-form-col form .form-validation {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.signin-cover .signup-form-col form .form-validation:hover {
  background-color: #BF493D;
}
.signin-cover .signup-form-col form .input-group-addon img {
  height: 14px;
}
.signin-cover .signup-form-col form .birthday-datepicker {
  display: inline-block;
}
.signin-cover .signup-form-col form .birthday-datepicker select {
  height: 33px;
  color: grey;
  display: inline-block;
  vertical-align: middle;
}
.signin-cover .signup-form-col .email-confirmation-email {
  font-weight: bold;
}
.navbar-home {
  padding-top: 50px;
  margin-bottom: initial;
  border: initial;
  border-radius: initial;
  background-color: #293540;
}
.navbar-home .navbar-header .navbar-brand span {
  float: left;
  font-family: amaranthRegular;
  color: white;
  font-size: 25px;
}
.navbar-home .navbar-header .navbar-brand img {
  height: 80px;
  margin-top: -50px;
}
.navbar-home .container .navbar-collapse .navbar-nav .menu-icon {
  font-size: 15px;
}
.navbar-home .container .navbar-collapse .navbar-nav .badge {
  background-color: red;
  padding: 2px 4px;
  top: -10px;
  position: relative;
  left: -5px;
  border: solid 1px;
  font-size: 10px;
  margin-right: -5px;
}
.navbar-home .container .navbar-collapse .navbar-nav li a {
  color: white;
}
.navbar-home .container .navbar-collapse .navbar-nav li a:hover {
  background-color: #1B242B;
}
.navbar-home .container .navbar-collapse .navbar-nav .active a {
  background-color: #1B242B;
  color: grey;
}
.navbar-home .container .navbar-collapse .navbar-nav .open a {
  background-color: #1B242B;
}
.navbar-home .container .navbar-collapse .navbar-nav .dropdown-menu {
  min-width: 500px;
  border: initial;
}
.navbar-home .container .navbar-collapse .navbar-nav .dropdown-menu .dropbown-menu-col {
  float: left;
  position: relative;
  width: 50%;
}
.navbar-home .container .navbar-collapse .navbar-nav .dropdown-menu .dropbown-menu-col li {
  list-style-type: none;
}
.navbar-home .container .navbar-collapse .navbar-nav .dropdown-menu .dropbown-menu-col li a {
  color: darkgrey;
  background-color: inherit;
}
.navbar-home .container .navbar-collapse .navbar-nav .menu-search .icon-search {
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.navbar-home .container .navbar-collapse .navbar-nav .menu-search .form-group .form-control {
  height: 22px;
  padding: 0px 12px;
}
.navbar-home .container .navbar-collapse .navbar-nav .menu-link-icon {
  width: 25px;
  margin: -5px 0px;
}
.navbar-home .navbar-connection-error {
  display: inline-block;
}
.navbar-home .navbar-connection-form {
  margin: initial;
  display: inline-block;
  vertical-align: middle;
}
.navbar-home .navbar-connection-form table {
  border-collapse: initial;
  border-spacing: 4px;
}
.navbar-home .navbar-connection-form table .navbar-connection-form-input {
  height: 30px;
}
.navbar-home .navbar-connection-form table .navbar-connection-form-submit {
  height: 30px;
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.navbar-home .navbar-connection-form table .navbar-connection-form-submit:hover {
  background-color: #BF493D;
}
.navbar-home .navbar-connection-form table .navbar-connection-form-keep {
  margin-top: -2px;
  color: white;
}
.navbar-home .navbar-connection-form table .navbar-connection-form-passforgotten a {
  color: white;
  text-decoration: underline;
}
.navbar-background-text {
  font-size: 40px;
  color: #1b242b;
  font-style: italic;
  position: absolute;
  top: 0px;
  right: 15%;
}
@media (max-width: 768px) {
  .navbar-background-text {
    top: 44px;
  }
}
/*# sourceMappingURL=signin.css.map */