{# empty Twig template #}
<nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="back-top" href="#" title="Remonter en haut de la page">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>