<div class="jumbotron generic-cover" style="background-image: url('{{asset(circle.coverPicture)}}')"> 
    <div class="container" >
        <div class="row-fluid">  
            <div class="col-md-3 col-sm-3 col-xs-8">            
                <div class="generic-cover-profile-picture img-circle" style="background-image: url('{{asset(circle.profilePicture)}}')"></div> 
            </div>
            <div class="col-md-7 col-sm-9 col-xs-12">
                <div class="generic-cover-title">
                    <h1 class="generic-cover-title-name">{{ circle.title }}</h1>
                    <p class="generic-cover-title-description hidden-xs">{{ circle.subtitle }}</p>
                </div>
            </div>
        </div>
    </div>
</div>    