<!-- Modal -->
<div class="modal fade" id="modal-delete-post" tabindex="-1" role="dialog" aria-labelledby="deletePost">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Etes vous sur de vouloir supprimer ce post  ?</h4>
            </div>
            <div class="modal-footer">
                <form method="delete" action="{{path('delete_post')}}">
                    <input type="hidden" id="delete-post-id"/>
                    <input type="hidden" id="delete-post-origin-entity" />
                    <input type="hidden" id="delete-post-origin-id" />
                    <!--<a  href="{{ path('delete_post', { 'post_id' : post.id } ) }}"> -->
                        <button type="submit" class="btn btn-default">
                            Oui
                        </button>
                    <!--</a>-->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Non
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
