<div role="tabpanel" class="tab-pane" id="newphoto">
    <!--<form action="/file-upload" class="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>-->
    {{form_start(postWithPicturesForm, {'attr':{'class':'dropzone'}})}}
    {{form_widget(postWithPicturesForm.message)}}
    <div class="fallback">

    </div>
    
    <button type="submit">Envoyer</button>
    
    {{form_rest(postWithPicturesForm)}}
    {{form_end(postWithPicturesForm)}}
</div>