<div role="tabpanel" class="tab-pane active" id="newpost">
    <form onsubmit="return false;" id="generic-new-post" action="{{ path('api_post_post', { 'circleId': circle.id} ) }}" method="post" {{ form_enctype(postForm) }}>                
        {{form_widget(postForm.message, {'attr': {'class':'generic-blog-new-post-content-text'}})}}
        {{form_rest(postForm)}}
        <div class="generic-blog-new-post-footer">
            <div class="generic-blog-new-post-footer-confirm text-right">
                <div id="generic-blog-posts-loader" hidden class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <button type="submit" class="btn btn-default btn-red">Envoyer</button>
            </div>
        </div>
    </form>      
</div>
