<div role="tabpanel" class="tab-pane active" id="newpost">
    <form id="generic-new-post" action="{{ path('add_post', { 'group_id' : id } ) }}" method="post" {{ form_enctype(postForm) }}>                
        {{form_widget(postForm)}}
        <div class="group-blog-new-post-footer">
            <div class="group-blog-new-post-footer-confirm text-right">
                <button type="submit" class="btn btn-default btn-red">Envoyer</button>
            </div>
        </div>
    </form>      
</div>
