<div role="tabpanel" class="tab-pane" id="newgallery">
    {{form_start(newGalleryForm)}}
    {{form_widget(newGalleryForm)}}
    <input type='submit' value='Envoyer'/>
    {{form_end(newGalleryForm)}}
</div>
