{# Flowber/PostBundle/Resources/views/partials/postGallery.html.twig #}
{% if postGallery.photos|length > 0 %}
    <div class="generic-blog-post-content-gallery row">
        {% for picture in postGallery.photos %}
        <div class="col-xs-4 generic-blog-post-content-gallery-element" style="background-image:url({{asset(picture.getWebPath())}});"></div>
        {% endfor %}
    </div>
{% endif %}