{# Flowber/PostBundle/Resources/views/partials/showPostEvent.html.twig #}

<div class="generic-blog-post-event">
    <div class="media">
        <div class="media-left">
            <a href="{{path('api_get_circle', {'circleId':post.attachedEvent.id})}}">
                {% if post.attachedEvent.profilePicture %}
                    <img class="media-object" src="{{post.attachedEvent.profilePicture.getWebPath()}}" alt="..." >
                {% else %} 
                    <img class="media-object" src="" alt="..." >
                {% endif %}
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{post.attachedEvent.title}}</h4>
            <div class="">{{post.attachedEvent.subtitle}}</div>
        </div>
    </div>
</div>