{# Sign Up cover #}
<div class="jumbotron signin-cover" style="background-image: url({{asset('bundles/flowberuser/images/signIn/cover-streetsheeps.jpg')}})">    
    <div class="container" >
        <div class="row">       
            <div class="col-md-5 col-md-offset-7 signup-form-col">
                
                <h2>On y est presque ! </h2>
                <div class="form-group">
                   Confirmez votre adresse e-mail
                </div>
                <p class="email-confirmation-text">
                    Un e-mail a été envoyé à votre adresse. Cliquez sur le lien de confirmation dans l'e-mail pour continuer l'inscription.
                </p>

            </div>
        </div>
    </div>
</div>
