<div class="jumbotron generic-cover" style="background-image: url('{{asset(circle.coverPicture)}}')"> 
    <div class="container" >
        <div class="row-fluid">       
            <div class="generic-cover-profile-picture img-circle" style="background-image: url('{{asset(circle.profilePicture)}}')"></div>
            <div class="generic-cover-title">
                <h1 class="generic-cover-title-name">{{ circle.title }}</h1>
                <p class="generic-cover-title-description">{{ circle.subtitle }}</p>
            </div>
        </div>
    </div>
</div>    