/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 déc. 2015, 19:45:20
    Author     : Equina
*/

@import "../FrontOfficeBundle/frontoffice-common";

.generic-new-post-navbar{        
    .generic-new-post-navbar-option{
        width: 1%; // inline trick
        display: table-cell; // inline trick
        .generic-new-post-navbar-option-clickable{
            background-color: @dark-blue;
            border-radius: initial;
            border: initial;
            color: white;
        }                
        .generic-new-post-navbar-option-clickable:hover{
            background-color: @dark-blue-alt;
            border: initial;
        }
        .generic-new-post-navbar-option-icon{
            height: 30px;
            width: 30px;
        }
        .generic-new-post-navbar-option-label{
            @media(max-width: 768px){
                display: none;
            }
        }
    }
    .active{
        .generic-new-post-navbar-option-clickable{
            background-color: @blue-alt!important;                    
        }
        
        .generic-new-post-navbar-option-clickable:hover, .generic-new-post-navbar-option-clickable:focus{
            color: white;
        }
    }
}

.generic-blog{
    
}

.spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: auto;
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
    }