<div id="events" class="user-profile-events user-profile">        
     <div class="user-profile-category-row text-center">
         <span class="user-profile-category-title">Mes évènements</span>
     </div>

     <div class="container user-profile-events-container">
         <div class="row">
            {% if circle.role == "creator" %}
            <div class="col-lg-3 col-xs-6">
                <a class="btn btn-default btn-block" href="{{ path('flowber_create_event_homepage')}}">Créer un groupe</a>
            </div>
            {% endif %}
             {% for event in events %}
                 <div class="col-md-3 col-sm-6 col-xs-12">
                 {% include 'FlowberEventBundle::partials/oneEventResume.html.twig' %}     
                 </div>
             {%endfor%}
         </div>
     </div>        
 </div>