{# empty Twig template #}
    <div id="friends" class="user-profile-friends user-profile">
        <div class="user-profile-category-row text-center">
            <span class="user-profile-category-title">Mes amis</span>
        </div>
                      
        <div class="container">
            <div class="row generic-profile-list">
                {% for friend in friends %}
                    {% include 'FlowberProfileBundle::partials/oneProfileResume.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
 