{# empty Twig template #}
    <div id="friends" class="user-profile-friends user-profile">
        <div class="user-profile-category-row text-center">
            <span class="user-profile-category-title">Mes amis</span>
        </div>
                      
        <div class="container">
            <div class="row generic-profile-list">
                {% if circle.role == "creator" %}
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <a class="btn btn-default btn-block">
                        Rechercher de nouveaux amis
                    </a>
                </div>
                {% endif %}
                {% for friend in friends %}
                    <div class=" col-lg-4 col-sm-6 col-xs-12">
                    {% include 'FlowberProfileBundle::partials/oneProfileResume.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 