{# empty Twig template #}
<div id="groups" class="user-profile-groups user-profile background-dark-blue">

    <div class="user-profile-category-row  container text-center">
        <div class="row">
            <span class="user-profile-category-title font-white">Mes groupes</span>
        </div>
    </div>

    <div class="container user-profile-groups-container">
        <div class="row">
            {% for group in groups %}
                <div class="col-md-3 col-xs-6">
                {% include 'FlowberGroupBundle::partials/oneGroupResume.html.twig' %}
                </div>
            {%endfor%}
        </div>  
    </div>  
</div>