{# empty Twig template #}

<div id="photos" class="user-profile-gallery background-dark-blue user-profile">
    <div class="container">
        <div class="row user-profile-category-row">
            <div class="col-xs-12 text-center">
                <span class="user-profile-category-title font-white">Mes galeries</span>
            </div>
        </div>
    </div>

    <div class="container user-profile-gallery-container galleries">
        <div class="row">
            {% if circle.role == "creator" %}
            <div class="col-md-3 col-xs-12 text-center">
                <button class="btn btn-default btn-block" data-toggle="modal" data-target="#addGalleryModal"><span class="glyphicon glyphicon-picture"></span> Ajouter une galerie</button>
            </div>
            {% endif %}
            <!-- Galleries list -->
            <ul class="galleries-list">
                {% for gallery in galleries %}
                <li id="gallery-{{gallery.id}}" class="col-md-3 col-xs-12">
                {% include 'FlowberGalleryBundle::partials/gallery-thumbnail.html.twig' %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Galleries modals -->
{% include 'FlowberGalleryBundle::partials/modalAddGallery.html.twig' %}
{% include 'FlowberGalleryBundle::partials/modalDeleteGallery.html.twig' %}
<!-- End Galleries modals -->