{% extends '::base_frontoffice.html.twig' %}

{% block body %}
    <!-- Main menu -->
    {% include 'WybeFrontOfficeBundle::partials/frontoffice/connected-main-navbar.html.twig' %}
    
    <!-- Sign up details jumbo -->
    <div class="jumbotron signup-details-cover" style="background-image: url({{asset('images/frontoffice/pages/homepage-signup-details/signup-details-cover.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="signup-details-cover-title ">Prêt à enchaîner les aventures !</h1>
            </div>
        </div>
    </div>
    
    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 signup-details-informations text-center">
                <h2>FlowBer</h2>
                <p class="signup-details-informations-text">Toute aventure est bonne à prendre</p>
                <img class="signup-details-informations-image" src="{{asset('images/frontoffice/pages/homepage-signup-details/signup-desktop.png')}}" alt=""/>
                <p class="signup-details-informations-text">Vivre votre vie plus intensément,<br/>
                    Faites des rencontres inoubliables,<br/>
                    Tout devient possible.
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <form class="signup-details-form">
                    <div class="form-group">
                        <label for="signupIntroductionSentence">Phrase de présentation</label>
                        <textarea id="signupIntroductionSentence" class="form-control" rows="1" placeholder="Décrivez-vous brièvement"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="signupPhone">Numéro de téléphone mobile</label>
                        <input type="tel" class="form-control" id="signupPhone" placeholder="Exemple: 0612345678">
                    </div>
                    <div class="form-group">
                        <label for="signupPostalAdress">Adresse postale</label>
                        <input type="text" class="form-control" id="signupPhone" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="signupCity">Ville</label>
                        <input type="text" class="form-control" id="signupCity" placeholder="">
                    </div>
                    <div class="form-group">
                        <!--<table>
                            <tr>
                                <td><label for="signupCityCode">Code postal</label></td>
                                <td><label for="signupCountry">Pays</label></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control form-inline-half" id="signupCityCode" placeholder=""></td>
                                <td><input type="text" class="form-control form-inline-half" id="signupCountry" placeholder=""></td>
                            </tr>
                        </table>-->
                        <div class="col-md-6">
                            <label for="signupCityCode">Code postal</label><br/>
                            <input type="text" class="form-control form-inline-half" id="signupCityCode" placeholder=""/>
                        </div>
                        <div class="col-md-6">
                            <label for="signupCountry">Pays</label><br/>
                            <input type="text" class="form-control form-inline-half" id="signupCountry" placeholder=""/>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    
{% endblock %}