<div class="jumbotron generic-cover" style="background-image: url({{asset('images/frontoffice/user/cover/KLTowers.jpg')}})">    
    <div class="container" >
        <div class="row-fluid">       
            <div class="generic-cover-profile-picture img-circle" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div> 
            <div class="generic-cover-title">
                <h1 class="generic-cover-title-name">Titre de la bannière</h1>
                <p class="generic-cover-title-description">Sous-titre de la bannière</p>
            </div>                
        </div>
    </div>
</div>