{# empty Twig template #}
    <div id="friends" class="user-profile-friends user-profile">
        <div class="user-profile-category-row text-center">
            <span class="user-profile-category-title">Mes amis</span>
        </div>

        <div class="container">
            <div class="row user-profile-friends-list"> 
                    <div class=" col-md-4 col-sm-6 col-xs-12">
                        <div class="media user-profile-friends-list-element">
                            <div class="media-left">
                                <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            </div>
                            <div class="media-body">
                                <div class="user-profile-friends-list-element-details">
                                    <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                    <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                    <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                                </div>
                            </div>
                        </div>
                    </div>      
            </div>
        </div>
    </div>
 