{# Flowber\ProfileBundle\Resources\views\partials\profileEditFormMain.html.twig #}
{% form_theme coverPictureForm 'bootstrap_3_layout.html.twig' %}

<!-- Form -->
<div class="create-event-form">
    <div class="well">
        {{form_start(coverPictureForm)}}
        {{form_widget(coverPictureForm)}}
        <input type="submit" class="btn btn-primary" />
        {{form_end(coverPictureForm)}}
    </div>
</div>