{# FlowberProfileBundle::Resources:views:partials:profileEditNavbarSmall.html.twig #}

<ul class="nav nav-pills nav-justified menu-secondary">
    <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-picture"></span></a></li>
</ul>