{# Flowber\ProfileBundle\Resources\views\partials\ProfileForm.html.twig #}

<!-- Sign up details jumbo -->
  
    <!-- Cover -->
    <div class="jumbotron create-event-cover" style="background-image: url({{asset('bundles/wybefrontoffice/images/pages/homepage-signup/cover-streetsheeps.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="create-event-cover-title ">Modifiez votre profil !</h1>
            </div>
        </div>
    </div>
    
    <!-- Form -->
    <div class="create-event-form">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="event-title" class="col-sm-2 control-label">Titre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-title" placeholder="Exemple : Football">
                </div>
            </div>
            <div class="form-group">
                <label for="event-tease" class="col-sm-2 control-label">Phrase d'accroche</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-category" placeholder="Choisir une phrase d'accroche">
                </div>
            </div>
            <div class="form-group">
                <label for="event-category" class="col-sm-2 control-label">Catégories</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-category" placeholder="Choisir une catégorie">
                </div>
            </div>
            <div class="form-group">
                <label for="event-description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="event-description" class="form-control" textholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="event-location" class="col-sm-2 control-label">Lieu</label>
                <div class="col-sm-10">
                    <input id="pac-input" class="autocomplete-map-controls" type="text"
                        placeholder="Enter a location">
                   <div id="map"></div>           
               </div> 
            </div> 
             <div class="form-group">
                <label for="event-place-name" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-place-name" placeholder="">
                </div>
            </div>                     
            <div class="form-group">
                <label for="event-address" class="col-sm-2 control-label">Adresse</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-address" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="event-city" class="col-sm-2 control-label">Ville</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-city" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="event-zipcode" class="col-sm-2 control-label">Code postal</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="event-zipcode" placeholder="">
                </div>
                <label for="event-country" class="col-sm-2 control-label">Pays</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="event-country" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="event-date" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="event-date" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="event-time" class="col-sm-2 control-label">Heure</label>
                <div class="col-sm-10">
                    <input type="time" class="form-control" id="event-time" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Visibilité</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="event-permission" id="event-permission-public" value="public"> Public
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="event-permission" id="event-permission-private" value="private"> Privé
                    </label>
                </div>
            </div>
            <div class="form-group">                
                <div class="col-sm-offset-2 col-sm-10">
                    <label>
                        <input type="checkbox" name="event-invite-permission"> Autoriser les invités à inviter des personnes
                    </label>
                </div>
            </div>
            <div class="form-group">                
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default event-submit">Continuer</button>
                </div>
            </div>
        </form>
    </div>       
    