/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 juil. 2015, 19:41:01
    Author     : Equina
*/

@dark-blue: #293540;
@dark-blue-alt: #1B242B;
@blue: #79BDE0;
@blue-alt: #66A0BE;
@light-blue: #E1EBF5;
@light-blue-alt: #CED8E1;
@white: #FFFFFF;
@white-alt: #F0EFEF;
@red: #E74C3C;
@red-alt: #BF493D;

.navbar-main{
    background-color: @dark-blue;
    .a {color: white;}
    .dropdown-menu{
        min-width: 500px;
        .dropbown-menu-col{
            float: left;
            position: relative;
            width: 50%;
            li{
                list-style-type: none;                    
            }
        }
    }
}

.navbar-second{
    background-color: @red;
}