/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2015, 19:11:08
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
@font-face {
  font-family: erasMediumItc;
  src: url(../fonts/ERASMD.TTF);
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
}
.create-event-cover {
  height: 255px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: initial;
  background-position: 0px -530px;
}
.create-event-cover .create-event-cover-title {
  color: white;
  text-shadow: 3px 3px 3px black;
  margin-top: 60px;
  font-size: 50px;
}
.create-event-form {
  width: 50%;
  margin: 50px auto 50px auto;
  background-color: #ECECEC;
  padding: 33px;
}
.create-event-form h1 {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .create-event-form {
    width: initial;
  }
}
.create-event-form .form-group {
  margin-bottom: 6px;
}
.create-event-form .event-submit {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.create-event-form .event-submit:hover {
  background-color: #BF493D;
}
.create-event-form #map {
  height: 300px;
  width: 100%;
}
.create-event-form .autocomplete-map-controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.create-event-form #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
.create-event-form #pac-input:focus {
  border-color: #4d90fe;
}
.create-event-form .pac-container {
  font-family: Roboto;
}
.create-event-form #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
.create-event-form #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/*# sourceMappingURL=create-event.css.map */