/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mai 2016, 14:17:51
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
/* Colors */
@font-face {
  font-family: erasMediumItc;
  src: url(../../fonts/ERASMD.TTF);
}
@font-face {
  font-family: amaranthRegular;
  src: url(../../fonts/Amaranth-Regular.ttf);
}
/* all site */
body {
  font-size: 13px;
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
  color: white;
}
/* Forms */
.form-error-custom {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.form-error-custom span {
  color: #A94442;
}
.group-list-thumbnail {
  border: none;
  padding: 25px 0px 0px 0px;
  background: none;
  margin-bottom: initial;
}
.group-list-thumbnail .group-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  box-shadow: #000 0em 0em 0em;
}
.group-list-thumbnail .group-image:hover {
  opacity: 0.6;
}
.group-list-thumbnail .group-name-frame {
  padding: 1px;
}
.group-list-thumbnail .group-name-frame .group-name-link {
  display: inline-block;
}
.group-list-thumbnail .group-name-frame .group-name {
  margin: 0px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
}
.group-list-thumbnail .group-name-frame .group-role {
  float: right;
}
.group-list-thumbnail .group-name-frame .group-role .group-role-allowed {
  color: black;
}
.group-list-thumbnail .group-name-frame .group-role .group-role-private {
  color: #E74C3C;
}
.group-list-thumbnail .group-description {
  font-size: 11px;
  color: #888;
}
.group-list-thumbnail .group-join-button {
  background-color: #E74C3C;
  border: none;
  padding: 4px 0px;
  width: 100%;
}
.group-list-thumbnail .group-join-button:hover {
  font-weight: bold;
  color: #E1EBF5;
}
