/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2015, 15:40:41
    Author     : Equina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 19:30:41
    Author     : Equina
*/
/* Colors */
@font-face {
  font-family: erasMediumItc;
  src: url(../../fonts/ERASMD.TTF);
}
@font-face {
  font-family: amaranthRegular;
  src: url(../../fonts/Amaranth-Regular.ttf);
}
/* all site */
body {
  font-size: 13px;
}
/* Colored backgrounds */
.background-dark-blue {
  background-color: #293540;
}
/* Colored fonts */
.font-white {
  color: white;
}
/* Colored background */
.bg-white {
  background-color: white;
}
/* Create a medium height at 40px */
.navbar-md {
  min-height: 40px;
}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-md .navbar-brand {
  height: 40px;
}
.navbar-md .navbar-toggle {
  margin: 6px 12px 6px 0px;
  padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
  width: 19px;
}
/* Create a small height at 30px */
.navbar-sm {
  min-height: 40px;
}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-sm .navbar-brand {
  height: 40px;
}
.navbar-sm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}
.navbar-sm .navbar-toggle .icon-bar {
  width: 16px;
}
.btn-red {
  background-color: #E74C3C;
  color: white;
  border-color: #BF493D;
  font-weight: bold;
}
.btn-red:hover {
  background-color: #BF493D;
}
/* Forms */
.form-error-custom {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.form-error-custom span {
  color: #A94442;
}
.group-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.group-container .group-blog-new-post {
  border: solid 1px lightgrey;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .group-container .group-blog-new-post {
    margin-top: 20px;
  }
}
.group-container .group-blog-new-post .group-blog-new-post-navbar .group-blog-new-post-navbar-option {
  width: 1%;
  display: table-cell;
}
.group-container .group-blog-new-post .group-blog-new-post-navbar .group-blog-new-post-navbar-option a {
  background-color: #293540;
  border-radius: initial;
  border: initial;
  color: white;
}
.group-container .group-blog-new-post .group-blog-new-post-navbar .group-blog-new-post-navbar-option a:hover {
  background-color: #1B242B;
  border: initial;
}
.group-container .group-blog-new-post .group-blog-new-post-navbar .group-blog-new-post-navbar-option .group-blog-new-post-navbar-option-icon {
  height: 30px;
  width: 30px;
}
@media (max-width: 768px) {
  .group-container .group-blog-new-post .group-blog-new-post-navbar .group-blog-new-post-navbar-option .group-blog-new-post-navbar-option-label {
    display: none;
  }
}
.group-container .group-blog-new-post .group-blog-new-post-navbar .active a {
  background-color: #66A0BE !important;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-content-text {
  width: 100%;
  resize: none;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event {
  padding: 20px;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event #map {
  height: 300px;
  width: 100%;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  z-index: 9999;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event #pac-input:focus {
  border-color: #4d90fe;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event .pac-container {
  font-family: Roboto;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
.group-container .group-blog-new-post .group-blog-new-post-content .group-blog-new-post-event #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.group-container .group-blog-new-post .group-blog-new-post-footer {
  padding: 5px;
}
.group-container .group-blog-new-post .group-blog-new-post-footer .group-blog-new-post-footer-confirm button:hover {
  color: white;
}
.group-container .group-blog-posts {
  list-style: none;
  padding-left: initial;
}
.group-container .group-blog-posts .group-blog-post {
  border: 1px solid lightgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.group-container .group-blog-posts .group-blog-post .generic-post-delete-icon {
  padding: 5px;
  color: initial;
  text-decoration: none;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-header .group-blog-post-header-avatar {
  background-position: center center;
  background-repeat: no repeat;
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-header .generic-post-header-actions .generic-post-header-actions-icon {
  text-decoration: none;
  color: initial;
  font-size: 1.3em;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-header .group-blog-post-header-info-time {
  color: grey;
  font-size: 0.8em;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-header .group-blog-post-header-info-rating {
  color: grey;
  font-size: 0.8em;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments {
  padding: 5px;
  background-color: #F5F5F5;
  list-style: none;
  padding-left: 60px;
}
@media (max-width: 768px) {
  .group-container .group-blog-posts .group-blog-post .group-blog-post-comments {
    padding-left: 10px;
  }
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment {
  padding-top: 5px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment .group-blog-post-comment-avatar {
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  height: 50px;
  width: 50px;
}
@media (min-width: 768px) {
  .group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment .group-blog-post-comment-poster {
    display: inline;
  }
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment .group-blog-post-comment-time {
  color: grey;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment .group-blog-post-comment-time {
    display: inline;
  }
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments .group-blog-post-comment .generic-comment-action-icon {
  color: initial;
  text-decoration: none;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-comments hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-new-comment {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-new-comment .group-blog-post-new-comment-avatar {
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  height: 50px;
  width: 50px;
}
.group-container .group-blog-posts .group-blog-post .group-blog-post-new-comment .group-blog-post-new-comment-field textarea {
  width: 100%;
  resize: none;
}
.group-container .group-details {
  border: 1px solid lightgrey;
  padding: 15px;
}
.group-container .group-details table {
  border-collapse: separate;
  border-spacing: 1em;
  color: grey;
  width: 100%;
}
.group-container .group-details table tr {
  padding-bottom: 10px;
}
.group-container .group-details table tr td.icon {
  padding-right: 5px;
  text-align: right;
  vertical-align: top;
}
.group-container .group-details table tr td.icon img {
  height: 20px;
  width: 20px;
}
.group-container .group-details textarea.group-mail {
  resize: none;
  width: 100%;
  padding: 5px;
}
/*# sourceMappingURL=group.css.map */