{% extends '::base_frontend.html.twig'%}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  </div>
</nav>

<div class="col-md-12">
    <div class="title">Page test</div>
</div>
<div class="col-md-12">
    Hello {{ name }}!
</div>
<div class="col-md-12">
    C'est Equina!
    <div class="glyphicon glyphicon-music"></div>
</div>
{% endblock%}