{% extends '::base_frontend.html.twig'%}

{% block body %}
<div class="col-md-12">
    <div class="title">Page test</div>
</div>
<div class="col-md-6">
    Hello {{ name }}!
</div>
<div class="col-md-6">
    C'est Equina!
</div>
{% endblock%}